# Binaries
bin/
konbu
server
*.exe

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Environment
.env
.env.*

# Dependencies
vendor/

# Test
coverage.out
coverage.html

# Database
*.sqlite
*.sqlite3
